:root{
    --white: #f3f3f3;
    --black: #161616;
    --gray: #8c8c8c;
    --red: #ff4848;
    --blue: #3172ff;
    --purple: #9d28cc;
    --green: #1f993e;
}

body, html{
    margin: 0;
    padding: 0;
    background-color: var(--white);
    color: var(--black);
}
.content{
    width: 100%;
}